   body {
       font-family: system-ui, sans-serif;
       padding: 0 50 px;
   }

   header {
       display: flex;
       gap: 12px;
       align-items: center;
       justify-content: space-between;
   }

   input {
       padding: 10px;
       width: 100%;
       max-width: 450px;
   }


   .row {
       display: flex;
       gap: 10px;
       align-items: center;
       padding: 10px;
       border: 1px solid #eee;
       border-radius: 10px;
       box-shadow: 2px 3px 5px #ccc;
       width: 30%;
   }

   label {
       display: flex;
       align-items: center;
       width: 100%;
       cursor: pointer;
   }

   img {
       width: 100%;
       height: auto;
   }

   .name {
       font-weight: 600;
       text-transform: capitalize;
   }

   .meta {
       color: #666;
       font-size: 0.9em;
   }

   .qty {
       width: 25px;
       margin-top: 15px;
   }

   .badge {
       background: #f1f1f1;
       padding: 2px 8px;
       border-radius: 999px;
       font-size: 0.85em;
   }

   .topline {
       display: flex;
       gap: 10px;
       align-items: center;
   }

   button {
       padding: 8px 10px;
       cursor: pointer;
   }

   .small {
       font-size: 0.9em;
       color: #666;
   }

   #list {
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
       gap: 10px
   }

   .got {

       padding: 20px;
   }

   .yes {
       color: green;
       background-color: lightgreen;
       padding: 5px;
   }

   .no {
       color: red;
       background-color: rgb(245, 177, 177);
       padding: 5px;
   }

   .yes,
   .no {
       min-width: 150px;
       width: 100%;
       text-align: center;
   }

   @media (max-width: 600px) {
       body {
           padding: 0px;
       }

       .row {
           width: 40%;
           flex-direction: column;
       }

       .img {
           width: 100%;

           img {
               width: 100%;
               height: auto;
           }
       }

       .got {
           padding: 5px;
       }

       label+div {
           .topline {
               justify-content: center;
           }
       }

       .meta {
           font-size: 12px;
       }

       .qty {
           display: block;
           width: 25%;
           margin: 10px auto 0 auto;
       }

       .yes,
       .no {
            min-width: none;
           width: 80%;
           text-align: center;
       }

       label{
              flex-direction: column;
              align-items: center;
       }
   }